* {
    font-family: Helvetica, Ariel, sans-serif;
	font-size: 14px;
}

table {
	padding: 5px;
}
th {
	text-align: left;
	background-color: darkslateblue;
	color: white;
	padding: 3px;
}

td {
	padding: 3px;
}

.lightgreen {
	background-color: lightgreen;
}

.yellow {
	background-color: yellow;
}

.orange {
	background-color: orange;
}

.spacer {
	width: 40px;
}